.DS_Store
.esbench-tmp
node_modules
/vendor
/dist
/coverage
/rust/pkg
/rust/target

# Log files
*.log
logs
npm-debug.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temp files
/debug.[jt]s
