body {
	display: grid;
	gap: 16px;
	grid-template-areas: "input options" "image options";
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr 360px;

	margin: 0 0 0 1rem;
	height: 100vh;

	color: #222;
	font-family: Arial, Helvetica, sans-serif;
}

#encode {
	display: inline-flex;
	padding: 6px 8px;
	border: 1px solid #777;
	border-radius: 4px;

	background: none;
	color: #777;
	user-select: none;
	font-size: 1em;

	&:enabled {
		cursor: pointer;
		color: blue;
		border-color: blue;
	}

	&.busy {
		background-color: #5d84ff;
		border-color: #5d84ff;
		background-size: 32px 32px;
		color: white;

		background-image: linear-gradient(
				-45deg,
				blue 25%,
				transparent 25%,
				transparent 50%,
				blue 50%,
				blue 75%,
				transparent 75%
		);

		animation: barbershop linear .4s infinite;
	}
}

@keyframes barbershop {
	from {
		background-position: 0;
	}
	to {
		background-position: -32px;
	}
}

time {
	color: #1c851c;
}

#file-label {
	border: 1px solid #aaa;
	padding: 6px;
	border-radius: 4px;
}

#encoder-label {
	margin: 0 10px;
}

#input {
	grid-area: input;
}

#options {
	grid-area: options;
	display: flex;
	gap: 1em;
	flex-direction: column;
	align-items: stretch;

	padding: 1em;
	background: #e9eef6;
}

textarea {
	padding: 1em 0;
	overflow: auto;
	resize: none;
	flex: 1;
	white-space: preserve;
	tab-size: 4;

	border: none;
	border-top: solid 1px #999;
	background: none;

	&:focus-visible {
		outline: none;
	}
}

canvas {
	grid-area: image;
	aspect-ratio: unset;
	max-width: 100%;
	max-height: 100%;
}
